<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SACCOPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SACCOPortal-20160915105515.mdf;Initial Catalog=aspnet-SACCOPortal-20160915105515;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SMSBankingConnectionString" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=SMSBanking;             Integrated Security=True;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="SMSBankingEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUTINDA-19;initial catalog=SMSBanking;user id=sa;password=mutinda12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SMSBankingEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUTINDA-19;initial catalog=SMSBanking;user id=sa;password=mutinda12;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="W_USER" value="Tish" />
    <add key="W_PWD" value="mutinda12" />
    <add key="DOMAIN" value="" />
    <add key="ODATA_URI" value="http://mutinda-19:7048/DynamicsNAV110/OData/Company('Kingdom%20Sacco%20Ltd.')/" />
    <add key="DB_INSTANCE" value="MUTINDA-19" />
    <add key="DB_NAME" value="Kingdom 2018" />
    <add key="DB_USER" value="sa" />
    <add key="DB_PWD" value="mutinda12" />
   </appSettings>

<!--<appSettings>
  <add key="W_USER" value="SYSTEM" />
  <add key="W_PWD" value="T22Mq?5N@ks" />
  <add key="DOMAIN" value="" />
  <add key="ODATA_URI" value="http://app-svr-2015:7048/DynamicsNAV110/OData/Company('Kingdom%20Sacco%20Ltd.')/" />
  <add key="DB_INSTANCE" value="MSSQL2016" />
  <add key="DB_NAME" value="Kingdom 2018" />
  <add key="DB_USER" value="abc" />
  <add key="DB_PWD" value="T22Mq?5N@ks" />
  </appSettings>-->
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     <handlers>
        <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
     </handlers>
    
   <!--Prevents user Session from crossing or mixing!-->
    <caching enabled="false" enableKernelCache="false">
      <profiles>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
  
  </system.webServer>
  
 <system.web>
    <authentication mode="None" />
    <!--allows page redirect to error pages-->
    <customErrors mode="Off" defaultRedirect="/ErrorPages/ApplicationError.html">
      <error statusCode="404" redirect="/ErrorPages/404.html" />
    </customErrors>
    <!--<compilation targetFramework="4.5" debug="true" />-->
    <compilation debug="true" targetFramework="4.5">      
      <assemblies>
        <add assembly="System.Globalization, Version=4.0.0.0,                         Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime, Version=4.0.0.0,                         Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
        
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.5">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <SACCOPortal.Properties.Settings>
      <setting name="SACCOPortal_NAVWS_Portals" serializeAs="String">
        <value>http://mutinda-19:7047/DynamicsNAV110/WS/Kingdom%20Sacco%20Ltd./Codeunit/Portals</value>
        <!--<value>http://app-svr-2015.kingdom:7047/DynamicsNAV110/WS/Kingdom%20Sacco%20Ltd./Codeunit/Portals</value>-->
      </setting>
      <setting name="IPRS_Photo_File" serializeAs="String">
        <value>D:\\portals\\Kingdom\\saccoportal\\IPRS\Passport\</value>
      </setting>
      <setting name="IPRS_Signature_File" serializeAs="String">
        <value>D:\\portals\\Kingdom\\saccoportal\\IPRS\\Signature\\</value>
      </setting>
    </SACCOPortal.Properties.Settings>
  </applicationSettings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
</configuration>
<!--ProjectGuid: {A3301BD8-DB56-4BD1-862F-B0D0666CDF7A}-->